.container {
	display:flex;
	justify-content:left;
	padding-left:20px;
	margin: 10px;
}

.buttonTrue{
	display: inline-block;
	color: blue;
	background-color: yellow;
	background: red;
}

.buttonFalse{
	display: inline-block;
	color: grey;
	background-color: red;
	background: blue;
}